:root{
    --clr-primary-200:hsl(170, 100%, 20%);
    --clr-primary-400:hsl(170, 100%,40%);
    --clr-primary-600:hsl(170, 100%, 60%);
    --clr-primary-800:hsl(170, 100%, 80%);

    --clr-accent-200:hsl(257, 100%, 20%);
    --clr-accent-400:hsl(257, 100%,40%);
    --clr-accent-600:hsl(257, 100%,60%);
    --clr-accent-800:hsl(257, 100%, 80%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    
}
header{
    display: flex;
    justify-content: space-between;
}

section{
    height: 100vh;
}

a{
    font-size: 1.3em;
    font-weight: 300;
    text-decoration: none;
}
.snap{
    scroll-snap-align: start;
}



/* navigation links */
.navlinks{
    padding-left:1rem;
    position: fixed;
    bottom:0;
    right:0;
    z-index: 2;
    background-color: var(--clr-accent-400);
    border-top-left-radius: 50px;
    animation: nav 4s forwards ease;
}

@keyframes nav {
    0%{
        transform: translateX(600px);
    }
    100%{
        transform: translateX(0px);
    }
    
}
.navlinks ul{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.navlink{
    margin-top: 0.5rem;
    padding:1.2rem 1.5rem;
    list-style-type: none;
}
.navlink a{
    color:white;
}


/*  Name and avatar  */
.user-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: colorshift 5s alternate infinite ease-in-out;
}

@keyframes colorshift {
    0%{
        background: var(--clr-primary-400);

    }
    100%{
        background: var(--clr-accent-600);
        
    }
    
}

.user-title h1{
    font-size: 6em;
    font-family: 'Arizonia', cursive;
    z-index: 2;
}


/* Project mosaic */
.projects{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap:1.5rem;
    background-color: black;
}
.projects h3{
    font-size: clamp(1em, 3.5vw, 3em);
    font-weight: 900;
    color: white;
    text-shadow: 1px 1px 25px black;
}

.project-title{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    /* padding:1.25rem; */
    text-align: center;
    backdrop-filter:blur(6px)
}
#project1{
    grid-column: span 4;
    grid-row: span 2;
    background-image: url('https://github.com/SuedePritch/glowing-train/blob/main/assets/images/leaf.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#project2{
    grid-column: span 2;
    grid-row: span 1;
    background-image: url('https://github.com/SuedePritch/glowing-train/blob/main/assets/images/bubbles.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

#project3{
    grid-column: span 2;
    grid-row: span 1;
    background-image: url('https://github.com/SuedePritch/glowing-train/blob/main/assets/images/forest.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#project4{
    grid-column: span 2;
    grid-row: span 1;
    background-image: url('https://github.com/SuedePritch/glowing-train/blob/main/assets/images/painting.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#project5{
    grid-column: span 2;
    grid-row: span 2;
    grid-column: 5 / 7;
    grid-row: 2 / 4;
    background-image: url('https://github.com/SuedePritch/glowing-train/blob/main/assets/images/ferns.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}




.about{
    display: flex;
    background-color: var(--clr-primary-400);
}
.about p{
    display: flex;
    align-items: center;
    max-width:40ch;
    margin: 0 auto;
    padding:0 2.5rem;
    font-size: 1.5em;
    font-weight: 300;
    word-wrap: break-word;
}
#user-avatar{
    min-width:450px;
    max-width:40vw;
    opacity: 0.6;
    z-index: 1;  
}

/* contact section  */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary-200);
}
.contact h2{
    font-size: 4em;
}
.contact ul{
    display:flex;
}
.contact li{
    padding: 1rem;
    flex-direction: row;
    list-style: none;
}
.contact form{
    display: flex;
    flex-direction: column;
}
.contact label{
    margin:0.75rem 0;
    font-size: 1.3em;
}
.contact button{
    margin-top: 2rem;
    padding: 2rem 3.5rem;
    background-color: var(--clr-accent-400);
    font-size: 1.6em;
    color:white;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}




/* MEDIA QUERY  */
@media screen and (max-width:700px) {
    .user-title h1{
        font-size: 3em;
    }
    .navlink{
        padding:0.8rem 1rem;
    }
    .about{
        flex-direction: column;
    }
    .about p{
        padding: 1rem 1rem;
    }
    #user-avatar{
        border-bottom-right-radius: 50px;
        min-width: 200px;
    }
    .projects{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap:0.25rem;
    }
    #project1{
        grid-column: span 2;
        grid-row: span 2;
    }
    
    #project2{
        grid-column: span 2;
        grid-row: span 1;
    }
    
    #project3{
        grid-column: span 1;
        grid-row: span 1;
    }
    
    #project4{
        grid-column: span 1;
        grid-row: span 2;
    }
    #project5{
        grid-column: span 1;
        grid-row: span 1;
    }
    .contact h2{
        font-size: 1.8em;
    }
    .contact ul{
        flex-direction: column;
        text-align: center;
    }
    .contact li{
        padding:0;
    }
    .contact button{
        padding: 1rem 2rem;
    }
    textarea{
        height: 100px;
    }
}